@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: white;
}

.swiper-slide-prev {
  opacity: 0.4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.swiper-slide-next {
  opacity: 0.25;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
